/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --black: #0F0F0F;
  --white: #FFF;
  --background: #E2D5DC;
  --menu: #ffbcea;
  /* --menu: #ffcaee; */
  --border: #333333;
}

/* LOGO DE FUNDO WALLPAPER */
body {
  background-color: var(--background);
  background: url("img/fundo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  background-image: url('img/cr.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ESTRUTURA GERAL */
.container {
  max-width: 1140px;
  margin: auto;
}

/* CABECALHO */

header {
  width: 100%;
  background: var(--menu);
  border-radius: 0 0 75px 75px;
  border-bottom: 10px solid var(--border);
}

.header-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul a {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0px 20px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}

.menu ul a:hover {
  background-color: var(--white);
  color: var(--menu);
}

/* AREAS */

.areas {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: calc(100vh - 180px);
}

/* AREA1 */

.area1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-perfil img {
  width: 200px;
  border-radius: 50%;
  margin-top: 50px;
}

.logo-text img {
  width: 500px;
}

.info {
  height: 200px;
  margin-top: 30px;
  color: var(--border);
  text-align: center;
}

/* AREA2 */

.area2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curso,
.contacts,
.sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area2 h2 {
  margin-top: 27px;
  margin-left: 70px;
  color: var(--border)
}

.area-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.area-link .icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

/* BOTOES */
.button {
  width: 400px;
  padding: 20px;
  border-radius: 25px;
  background-color: var(--menu);
  border: 2px solid transparent;

  color: var(--white);
  font-size: 18px;
  text-align: center;
}

.button:hover {
  background-color: var(--white);
  color: var(--menu);
  border: 2px solid var(--menu);
}

/* FOOTER */
footer {
  height: 50px;
  margin-top: 20px;
  background-color: var(--menu);
  border-top: 5px solid var(--border);
  display: flex;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer p {
  color: var(--white);
  font-size: 18px;
}

/*----------DESKTOP----------*/



/* OUTROS TAMANHO DE TELA  */

/*----------TABLET----------*/

@media (min-width:450px) and (max-width:800px) {

  body {
    background-color: var(--background);
    background: url("img/fundo-mobile.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .header-area {
    justify-content: center;
  }

  .areas {
    grid-template-columns: 1fr;
  }

  .info {
    height: 100px;
  }

  .button {
    width: 300px;
    padding: 10px;
  }

  .area2 {
    margin-right: 70px;
  }
}


/*----------MOBILE----------*/
@media (max-width:450px) {

  body {
    background-color: var(--background);
    background: url("img/fundo-mobile.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner {
    background-image: url('img/cr.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-area {
    height: 50px;
    justify-content: center;
  }

  .menu ul a {
    height: 50px;
    padding: 10px;
    margin: 0;
    font-size: 10px;
  }

  .logo-perfil img {
    width: 130px;
    border-radius: 50%;
    margin-top: 50px;
  }

  .areas {
    grid-template-columns: 1fr;
  }

  .area1,
  .area2 {
    margin: 10px;
  }

  h2 {
    font-size: 16px;
  }

  .area2 h2 {
    margin-left: 40px;
  }

  h3 {
    font-size: 12px;
  }

  .info {
    height: 100px;
  }

  .area-link .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .button {
    width: 250px;
    padding: 13px;

    font-size: 12px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  footer p {
    margin: 5px 0;
    font-size: 10px;
  }
}